div {
    display: inline-block;
}
.satu {
    background-color: #aedd94;
    width: 1400px;
    height: 100px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
}
.dua {
    background-color: yellow;
    width: 200px;
    height: 200px;
    margin-left: 30px;
}
.tiga {
    background-color: orangered;
    width: 950px;
    height: 200px;
    margin-left: 30px;
    margin-right: 30px;
}
.empat {
    background-color: yellow;
    width: 200px;
    height: 200px;
    margin-left: 30px;
}
.lima {
    background-color: lightblue;
    width: 950px;
    height: 200px;
    margin-left: 30px;
    margin-right: 30px;
}